In [11]:
import collections

### nametuple
1. namedtuple 接受两个参数：类型名称和字段名称
2. 命名字段访问
3. 不可变性
4. 兼容元组操作

In [12]:
Card = collections.namedtuple('Card', ['rank', 'suit'])

In [13]:
beer_card = Card('7', 'diamonds')

In [14]:
beer_card.rank,beer_card.suit

('7', 'diamonds')

In [18]:
XY = collections.namedtuple('XY',['X','Y'])

In [19]:
cood1 = XY(1,2)

In [20]:
cood1.X,cood1.Y

(1, 2)

In [21]:
for value in cood1:
    print(value)

1
2